
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{box-sizing: border-box;
	max-width: 100%;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

body {
	background: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	width: 100%;
}
:root{
	--rojo:#A40101;
	--azulclaro: rgb(44, 163, 171);
	--plata: #c4c4c4;
	--gris: #c4c4c4af;
	--naranja:#f3610e;
	--morado:#1d1b45;
	--blanco:#ffffff;
	--negro:#000000;
	--azulcielo: rgb(167, 217, 217);

}
#header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo1 i{
	color: var(--naranja);
	width: 90px;
	margin-left:0px;
}	
.logo img{
	width: 180px;
	height: 80px;
	margin: 30px auto 0 auto;
}
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.location{
	width: 40%;
	display:flex ;
	align-items: center;
	justify-content: flex-start;
	margin-left: 1.5rem;
}
.location p{
	margin: 2px 0 2px 0;
	width: 120px;
	padding: 0;
	font-size: 14px;
}
.location i{
	background: var(--naranja);
	border-radius: 50%;
	padding: 12px 8px;
	color: var(--blanco);
	margin-right: 20px;
	box-shadow: 4px 4px 7px var(--plata);
}
.phone{
	width: 50%;
	display:flex ;
	align-items: flex-start;
}
.phone p{
	margin-top: 2px;
}
.phone img{
	width: 23px;
	background: var(--naranja);
	border-radius: 50%;
	padding: 5px 3px;
	color: var(--blanco);
	margin-right: 20px;
	margin-left: 10px;
	box-shadow: 4px 4px 7px var(--plata);
}
.login{
	display: flex;
	align-items: center;
	border-radius: 30px;
	padding: 10px 8px;
	max-width: 140px;
	width: 100%;
	background-color: var(--azulclaro);
	border: none;
	margin-left: 20px;
}
.login i{
	margin-left: 4px;
}
.login a{
	width: 120px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: var(--blanco);
	font-weight: bold;
}
.forja{
	display: flex;
	align-items: center;
	justify-content: center;
}
.inicio{
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.linea{
	margin: 10px;
}
.linea img{
	width: 95%;
}
.boton{
	margin: 20px auto 10px auto;
}
.covid{
	background-image: url(../img/medico.png);
	background-size: 100% 120%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 280px;
}
.covid h1{
	color: var(--naranja);
	font-size: 18px;
	width: 250px;
	text-align: center;
	animation: aparecer 5s 1 5s;
}
.covid h2{
	font-size: 25px;
	margin: 0 4rem;
	animation: aparecer 5s 2 5s;
}
@keyframes aparecer{
    0%{opacity: 0;}
	25%{opacity: 0.5;}
    50%{opacity: 0.8;}
	75%{opacity: 0.9;}
}
.covid button{
	margin-right: 8rem;
} 
.franja{
	width: 100%;
	height: 30px;
	margin-bottom: 0;
}
.franja img{
	width: 100%;
	height: 30px;
}
/*seccion sintomas*/
.signos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: var(--azulclaro);
}
.signos h2{
	width: 270px;
}
.signos img{
	width: 28px;
	margin-right: 10px;
	margin-top: 0;
}
.fondosintomas{
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-direction: column;
	height: 100%;
}
.transpsintomas{
	background-image: url(../img/covid.jpeg);
	height: 100%;	
}
.sintomas{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
.precaucion{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	margin-left: 1.7rem;
}
.quehacer{
	display: flex;
	color: var(--azulclaro);
}
.quehacer img{
	width: 32px;
	margin-right: 10px;	
}
.chulos{
	justify-content: center;
}
.check{
	margin: 15px 0;
}
.chulos img{
	width: 20px;
	margin-right: 8px;
}
.oms{	
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.oms img{
	width:100px;
}
.oms p{
	width: 85%;
	text-align: justify;
	margin: 5px ;
	font-size: 14px;
}
.curso{
	margin-bottom: 30px;
}
/*seccion enlaces*/
.fondorecom{
	background-color: gray;
}
.recomendacion{
	color: var(--blanco);
	background-color:var(--morado);
}
.recomendacion{
	color: var(--blanco);
	background-color:var(--morado);
}
.recomendacion p{
	padding: 8px 0 8px 10px;
	margin-top: 0;
	font-size: 15px;

}
/*footer*/
.footer{
	background-color: black;
	color: var(--blanco);
	text-align: center;
	padding-top: 0.3px;
	padding-bottom: 15px;
	margin-bottom: 3px;
}
/*login*/
	.body{
		width: 100%;
		background-image: url(../img/10.png);
		background-size: 100% 200%;
		height: 80%;
}
	#login{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
		width: 100%;
	 }
	.butl{
		animation: login 3s 2;
		transform-origin: left center;
	}

	@keyframes login{
		0% {transform: rotate(-2deg);}
		20%{transform: rotate(2deg);}
		40%{transform: rotate(-2deg);}
		60%{transform: rotate(2deg);}
		80%{transform: rotate(-2deg);}
	}
	.buttonlogin{
		 background-color: var(--morado);
		 border: 2px solid var(--azulclaro);
		 padding: 8px;
		 border-radius: 10px;
		 margin-top: 4rem;
		 margin-left: 8rem;
	 }
	.buttonlogin a{
		 color: var(--blanco);
		 text-decoration: none;
		 font-size: 12px;
		 font-weight: bold;
	 }
	 .form-login{
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
		background-color: var(--blanco);
		border-radius: 50px;
		box-shadow: 3px 3px 5px var(--negro);
	 }
	 .head{
		 width: 100%;
		background-color: var(--azulcielo);
		padding: 30px 30px;
		text-align: center;
		border-radius: 50px 50px 0 0;
	}
	 .form-group{
		 display: flex;
		 flex-direction: column;
		 text-align: center;
		 padding-bottom: 20px;
		 line-height: 2;
	 }
	 .form-group label{
		 font-size: 20px;
	 }
	 .form-group input{
		 border-radius: 20px;
		 border: 1px solid var(--azulclaro);
		 background-color:rgba(167, 217, 217, 0.3);
		 height: 30px;
		 width: 200px;
	 }
	 .link{
		 margin: 0;
		 font-size:15px ;
		 color: var(--negro);
		 margin-bottom: 10px;
	 }
	 .btn-enviar{
		 border-radius: 10px;
		 background-color: var(--naranja);
		 color: var(--blanco);
		 padding: 8px 33px; 
		 border: 1px solid var(--negro);
		 cursor: pointer;
		 margin-bottom: 20px;
	 }
	/*dashboard*/
	.main{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.menudash{
		background-color: var(--morado);
		display: flex;
		flex-direction: column;
		justify-content:center ;
		height: 300px;
		width: 100%;
	}
	.logodash{
		width: 200px;
		margin: 0 auto;
	}
	.menuopc{
		margin-top: 20px;
	}
	.endsesion{
		margin: 0;
	}
	.users{
		margin: 0;
	}
	.vacunation{
		margin: 0;
	}
	.endsesion:hover{
		animation: menudash 3s 1 1s linear;
	}
	.users:hover{
	animation: menudash 3s 1 1s linear;
	}
	.vacunation:hover{
	animation: menudash 3s 1 1s linear;
	}
	@keyframes menudash{
	50%{transform: translateX(-120%);}
	100%{transform: translateX(0%);}
	}
	.opciones{
		list-style: none;
		display: flex;
		background-color: var(--plata);
		border: 1px solid var(--naranja);
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		height:40px;
		margin: 10px 0px;
		text-align: center;
		width: 100%;
	}
	.opciones a{
		color: var(--negro);
    	text-decoration: none;
		font-size: 14px;
	}
	.opciones img{
		width: 20px;
		margin: 10 auto;
	}
	.opciones h4{
		margin: 0;
		padding: 0;
	}
	.cuerpodash{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 600px;
		width: 100%;
		background-color: #f5f1f1ee;
	}
	.usuario{
		background: linear-gradient(60deg, #a59f9f, rgb(207, 202, 202) 50%, #b8b2b2);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 165px;
		height: 40px;
		padding: 5px;
		border-radius: 8px;
		margin-top: 10px;
		margin-left: 11rem;
	}
	.usuario img{
		width: 27px;
		height: 30px;
		border-radius: 50%;
		background-color: var(--blanco);
		border: 1px solid var(--naranja);
		padding: 3px;
		margin-right: 3px;
	}
	.guerreros{
		padding-top: 1px;
		padding-right: 8px;
		opacity: 38%;
		height: 130px;
		margin: 8rem 5px 0px 13rem;
	}
	.cuerpo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.cuerpo h1{
		color: var(--naranja);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
	}
	.busqueda {
		margin: 5rem auto 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.busqueda input{
		width: 250px;
		text-align: center;
		background-color: #f5f1f1ee;
		font-size: 13px;
		padding-right: 3px;
		border: none;
		border-bottom: 1px solid var(--morado);
	}
	.busqueda button{
		background-color: var(--morado);
		border: 3px solid var(--azulclaro);
		border-radius: 5px;
		padding: 0;
		margin-top: 10px;
	}
	.busqueda i{	
		width: 50px;
		color:var(--blanco);
		padding: 3px;
	}
	.franja1{
	height: 100%;
	width: 100%;
}

/* pacientes */

	.headerpaciente{
		background-color: var(--negro);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}
	.headerpaciente img{
		padding: 20	px;
		width: 140px auto;
	}
	.iniciopac img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid var(--azulclaro);
		background-color: var(--plata);
		padding: 8px 6px;
		margin: 0 5px;
	}
	.franja2{
		width: 100%;
		height: 30px;
		margin:0;
		padding: 0;
	}
	.botones-pac{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.boton-agregar{
		background-color: var(--naranja);
		padding: 6px 10px;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		margin: 15px 8px 0 0;
		width: 130px;
	}
	.boton-agregar a{
		color: white;
		text-decoration-line: none;
	}
	.btn-buscar{
		justify-content: flex-end;
		margin: 15px 8px 0 0;
		cursor: pointer;
	}
	.btn-buscar input{
		width: 200px;
		text-align: center;
		font-size: 15px;
		padding-right: 3px;
		border: 1px solid var(--azulclaro);
		border-radius: 5px;
		margin-right: 2px;
	}
	.btn-buscar button{
		background-color: var(--morado);
		border: 3px solid var(--azulclaro);
		border-radius: 5px;
		padding: 0;
		color: var(--blanco);
	}
	.btn-buscar i{
		width: 30px;
		color:var(--blanco);
	}
	#paciente{
		height: 100%;
	}
	.paciente h1{
		text-align: center;
		font-size:28px;
		color: var(--morado);
		text-decoration: underline;
		margin: 5rem auto;
		animation: paciente 3s linear 1s 1;
	}
	@keyframes paciente{
		0% {transform: translateY(-800%);}
		100% {transform: translateY(0%);}
	}
	.tablepaciente {
			width: 100%;
			margin-bottom: 15px;
			overflow-y: hidden;
			-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.tablepaciente table{
		border: 2px solid var(--azulclaro);
		border-collapse: collapse;
		margin: 10px;
	}
	.tablepaciente th{
		border: 1px solid var(--azulclaro);
		background-color: var(--morado);
		color: var(--blanco);
		padding: 5px 5px;
		font-size: 12px;
	}
	.tablepaciente tr{
		border: 1px solid var(--azulclaro);
		padding: 5px 0 ;
	}
	.tablepaciente td{
		border: 1px solid var(--azulclaro);
		background-color: var(--plata);
		text-align: center;
		font-size: 10px;	
	}
	.tablepaciente button{
		margin: 5px ;
	}
	.registro{
		padding: 10px 15px;
	}
	.documento{
		padding: 10px 28px 10px 28px;
	}
	.nombre{
		padding: 10px 80px 10px 80px;
	}
	.edad{
		padding: 10px 13px 10px 13px;
	}
	.footer1{
		background-color: black;
		color: var(--blanco);
		text-align: center;
		padding-top: 0.2px;
		padding-bottom: 1	5px;
		margin: 0;
		position: relative;
		top: 128px;
	}
	.btn-azul{
		background-color: var(--azulclaro);
		border: 1px solid var(--azulclaro);
		padding: 2px 4px;
		border-radius: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		cursor: pointer;
	}
	
	.btn-rojo{
		background-color: var(--rojo);
		border: 1px solid var(--rojo);
		color: var(--blanco);
		padding: 4px 8px;
		border-radius: 5px;
		margin-right: 8px;
		font-size: 10px;
		cursor: pointer;
	}
	
	/*registro*/
	.registro{
		
		background-color: var(--morado);
		color: var(--blanco);
		text-align: center;
		font-size: 23px;
		margin: 8px 0;
		padding: 2px auto;
	}
	.registro h3{
		margin: 0;
		padding: 2px auto;
	}
	#form-register{
		border: 2px solid var(--plata);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20px auto;
		width: 100%;
	}
	.form-register{
		border: 1px solid var(--morado);
		background-color: var(--plata);
		margin: 30px 30px 15px 30px;
		padding: 20px;
		border-radius: 10px;
	}	
	.form2{
		display: flex;
		flex-direction: column;
	}
	.boton-enviar{
		background-color: var(--naranja);
		padding: 8px 30px;
		border-radius: 5px;
		border: none;
		color: var(--blanco);
		text-align: center;
		margin-bottom: 80px;
		cursor: pointer;
		animation: enviar 3s 1 2s;
	}
	@keyframes enviar{
		20%{transform: rotate(-3deg); transform: scale(0.5);}
		30%, 70%{ transform: scale(0.9); transform: rotate(3deg);}
		50%, 90%{ transform: scale(0.9); transform: rotate(-3deg);}
	}
	.footer2{
		background-color: black;
		color: var(--blanco);
		text-align: center;
		padding-top: 0.2px;
		padding-bottom: 15px;
		margin: 0;
		position: relative;
		top: 7px;
	}
	.inicio-form {
		border-radius: 3px;
		border: 2px solid var(--azulclaro);
		padding: 5px 0px 5px 5px;
		color: gray;
		margin-bottom: 10px;
		width: 100%;
		margin-right: 5px;
	}
	.inicio-form1{
		border-radius: 3px;
		border: 2px solid var(--azulclaro);
		padding:5px 0px 5px 5px;
		width: 100%;
		margin-bottom: 15px;
	}
	.title-section{
			display: flex;
			align-items: center;
			margin-bottom: 11px;
			background-color: var(--azulclaro);
			width: 100%;
			height: 30px;
			color: white;
			border: 1.5px solid #0d637e;
			border-radius: 4px;
		}
		
	.title-section p{
			font-weight: normal;
			margin: 0 auto;
		}
	.title-section i{
			padding-left: 25px;
			color: #000;
		}
	.title-section2 i{
		margin-right: 5px;
	}
	.title-section2 p{
		font-size: 15px;
	}
	.titulo{
		padding-left: 39%;
		}
	.secciones{
		flex-basis: 45%;
		margin: 12px 0;
		border-radius: 3px;
		border: 1px solid var(--azulclaro);
		padding:5px 15px 5px 5px;
	}
	.seccion{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.especial{
		color: gray;
	}
	.secciones1{
		flex-basis: 28%;
		margin: 12px 0;
		border-radius: 3px;
		border: 1px solid var(--azulclaro);
		padding:5px 15px 5px 5px;
	}
	.opcion{
		text-align: center;
	}
	.opcion label{
		margin-right: 5px;
	}
	
	
@media screen and (min-width: 768px){
#header{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
}
.logo1 i{
	width: 90px;
	margin-left: 15px;
}	
.logo img{
	margin: 30px auto 0 15PX;
	width: 300px;
}
.inicio{
	flex-direction:row ;
}
.location{
	width: 50%;
	margin-left: 2rem;
}
.location p{
	width: 130px;
}
.boton{
	margin: 10px auto 10px 1rem;
}
.covid{
	align-items: center;
}
.covid h1{
	font-size: 25px;
	width: 500px;
	margin-right: 10rem;
	margin-bottom: 0;
}
.covid h2{
	font-size: 40px;
	margin-right: 15rem;
	margin-top: 0;
}
.covid button{
	margin-left: 13rem;
} 
.fondosintomas{
	flex-direction: row;
	height: 100%;
}
.sintomas{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
}
.precaucion{
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
/*login*/
.body{
	height: 100%;
}
#login{
	margin-top: 2rem;
}
.buttonlogin{
	width: 250px;
	height: 80px;
	margin-left: 15rem;
	border-radius: 25px;
}
.buttonlogin a{
	font-size: 25px;
}
.form-login{
	width: 70%;
	height: 750px;
 }
.form-group label{
	font-size: 30px;
}
.form-group input{
	height: 60px;
	width: 350px;
}
.head p{
	font-size: 40px;
}
.head img{
	width: 80%;
	margin-top: 10px;
}
.section2{
	margin-top: 25px;
}
.link{
	font-size: 22px;
}
.btn-enviar{
	width: 150px;
	height: 60px;
	font-size: 22px;
}
/*dashboard*/
.main{
	display: flex;
	flex-direction: row;
	height: 616px;
}
.menudash{
	background-color: var(--morado);
	display: flex;
	flex-direction: column;
	justify-content:center ;
	height: 100%;	
	width: 100%;
	flex-basis: 30%;
}
.logodash{
	width: 200px;
	margin: 30px auto;
}
.cuerpodash{
	flex-basis: 70%;
	height: 100%
}
.opciones{
	width: 100%;
}
.usuario{
	margin-left: 22rem;
}
.busqueda{
	flex-direction: row;
}
.busqueda input{
	margin-right: 10px;
}
.guerreros{
	height: 153px;
	margin-right: -11rem;
}
/*pacientes*/
.botones-pac{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2rem 5rem 0 5rem;
}
.paciente h1{
	margin-top: 2rem;
	font-size: 25px;
}	
.tablepaciente th{
padding: 8px 15px;
font-size: 15px;
}
.tablepaciente td{
padding: 5px 7px;
font-size: 15px;	
}
.btn-buscar input{
	height: 30px;
}
.btn-buscar button{
	height: 30px;
}
/*registro*/
.boton-enviar{
	width: 250px;
	height: 50px;
	font-size: 20px;
}
.form2{
	display: flex;
	flex-direction: row;
}
.inicio-form{
	width: 30%;
	height: 38px;
	margin-right: 25px;
	margin-left: 10px;
}
.inicio-form1{
	width: 30%;
	height: 38px;
}
@media screen and (min-width: 1024px){
.logo img{
	width: 350px;
}
.header{
	width: 100%;
}
.location{
	width: 70%;
}
.location p{
	width: 250px;
}
.boton{
	margin: 10px auto 10px 1rem;
}
.phone{
	width: 30%;
}
.boton{
	margin-right: 2rem;
}
.covid h1{
	font-size: 30px;
	margin-left: -2rem;
}
.covid h2{
	font-size: 45px;
	margin-left: 10px;
}
.covid button{
	margin-right: 26rem;
} 
/*login*/
.form-login{
	height: 600px;
 }
 .buttonlogin{
	margin-left: 27rem;
}
.form-group label{
	font-size: 25px;
}
.form-group input{
	height: 40px;
	width: 400px;
}
.head{
	height: 200px;
}
.head img{
	width: 50%;
}
.head p{
	font-size: 25px;
}
.link{
	font-size: 20px;
}
.btn-enviar{
	width: 170px;
	font-size: 25px;
}
/*dashboard*/
.main{
	height: 630px;
}
.logodash{
	width: 250px;
}
.usuario{
	margin-left: 30rem;
}
.guerreros{
	height: 153px;
	margin-right: -21rem;
}
/*pacientes*/
.tablepaciente table{
	margin-left: 20px;
}
.tablepaciente th{
	padding: 8px 20px;
	font-size: 22px;
	}
.tablepaciente td{
	padding: 8px 15px;
	font-size: 20px;	
	}
/*registro*/
.especial{
	font-size: 20px;
}
.opcion label{
	font-size: 25px;
	margin: 0 20px;
}
.boton-enviar{
	margin-top: 20px;
}
@media screen and (min-width: 1200px){

.location p{
		width: 250px;
		font-size: 18px;
}
.phone p{
		font-size: 18px;
}
.covid{
	height: 70vh;
}
.covid h1{
	font-size: 37px;
	width: 600px;
}
.covid h2{
	font-size: 55px;
	margin-left: 10px;
}
.covid button{
	margin-right: 27rem;
} 
/*login*/
.buttonlogin{
	margin-left: 35rem;
}
/*dashboard*/
.usuario{
	margin-left: 45rem;
}
.guerreros{
	height: 153px;
	margin-right: -33rem;
}
/*pacientes*/
.tablepaciente table{
	margin: 20px auto;
}
.botones-pac{
	margin: 2rem 6rem 0 6rem;
}
.boton-agregar{
	height: 40px;
}
.btn-buscar input{
	height: 40px;
}
.btn-buscar button{
	height: 40px;
}
.paciente h1{
	font-size: 40px;
}
.btn-azul{
	font-size: 18px;
}
.btn-rojo{
	font-size: 16px;
}
/*registro*/
.boton-enviar{
	margin-top: 30px;
	width: 350px;
	height: 70px;
	font-size: 25px;
}
.title-section p{
	font-size: 18px;
}