
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{box-sizing: border-box;}
h1{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

body {
	background: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
:root{
	--rojo:#A40101;
	--azulclaro: rgb(44, 163, 171);
	--plata: #c4c4c4;
	--naranja:#f3610e;
	--morado:#1d1b45;
	--blanco:#ffffff;
	--negro:#000000;
	--azulcielo: rgb(167, 217, 217);

}
#header{
	max-height: 800px;
	height: 170px;
	display: flex;
	flex-direction: row;
}
.logo1 i{
	color: var(--naranja);
	width: 90px;
	margin-left: 70px;
}	
.logo img{
	width: 180px;
	height: 80px;
	position: relative;
	top: 27px;
	left: 50px;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.location{
	width: 360px;
	display:flex ;
	align-items: flex-start;
	position: relative;
	left: -120px;
}
.location p{
	margin-top: 2px;
}
.location i{
	background: var(--naranja);
	border-radius: 50%;
	padding: 12px 8px;
	color: var(--blanco);
	margin-right: 20px;
	box-shadow: 4px 4px 7px var(--plata);
}
.phone{
	width: 360px;
	display:flex ;
	align-items: flex-start;
	position: relative;
}
.phone p{
	margin-top: 2px;
}
.phone img{
	width: 23px;
	background: var(--naranja);
	border-radius: 50%;
	padding: 5px 3px;
	color: var(--blanco);
	margin-right: 20px;
	box-shadow: 4px 4px 7px var(--plata);
	position: relative;
	bottom: 8px;
}
.login{
	display: flex;
	align-items: center;
	border-radius: 30px;
	padding: 10px 8px;
	max-width: 140px;
	width: 100%;
	background-color: var(--azulclaro);
	border: none;
	margin-left: 20px;
}
.login i{
	margin-left: 4px;
}
.login a{
	width: 120px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: var(--blanco);
	font-weight: bold;
}
.forja{
	flex-basis: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inicio{
	flex-basis: 60%;
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.linea{
	width: 950px;
}
.boton{
	margin-right: 50px;
}
.covid{
	background-image: url(../img/medico.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 485px;
}
.covid h1{
	color: var(--naranja);
	font-size: 37px;
	position:relative;
	top: -40px;
	right: 250px;
}
.covid h2{
	font-size: 55px;
	position:relative;
	top: -100px;
	right: 250px;
}
.covid button{
	position:relative;
	top: -140px;
	right: 250px;
}
.franja{
	width: 100px;
	height: 30px;
}
.franja img{
	flex-basis: 100%;
	position: absolute;
	bottom: -70px;
	max-width: 100%;
	max-height: 100%;
}
/*seccion sintomas*/
.signos{
	display: flex;
	color: var(--azulclaro);
}
.signos img{
	width: 28px;
	margin-right: 10px;
}
.fondosintomas{
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-wrap: wrap;
	height: 370px;
	
}
.transpsintomas{
	background-image: url(../img/covid.jpeg);
	height: 370px;
	
}
.sintomas{
	flex-basis: 57%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

}
.precaucion{
	flex-basis: 43%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	
}
.quehacer{
	display: flex;
	color: var(--azulclaro);
}
.quehacer img{
	width: 32px;
	margin-right: 10px;	
}
.chulos{
 	position: relative;
 	left: -40px;
}
.check{
	margin: 15px 0;
}
.chulos img{
	width: 20px;
	margin-right: 8px;
}
.oms img{
	width:120px;
	position: relative;
	left: 150px;
	margin: 10px 0;
}
.oms p{
	text-align: justify;
	margin: 10px 130px 0 0;
	font-size: 17px;
	line-height: 1.4;
}
.curso{
	position: relative;
	right: 50px;
	margin-bottom: 30px;
}
/*seccion enlaces*/
.fondorecom{
	background-color: gray;
}
.recomendacion{
	color: var(--blanco);
	background-color:var(--morado);
}
.recomendacion p{
	padding: 8px 0 8px 10px;
}
.recomendacion1{
	color: var(--blanco);
	background-color:var(--morado);
}
.recomendacion1 p{
	padding: 8px 0 8px 10px;
	margin-top: 0;
}
/*footer*/
.footer{
	background-color: black;
	color: var(--blanco);
	text-align: center;
	padding-top: 0.3px;
	padding-bottom: 30px;
	margin-bottom: 8px;
}
/*login*/
.body{
	background-image: url(../img/10.png);

}
	
	 #login{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 650px;
			
	 }
	 .buttonlogin{
		 background-color: var(--morado);
		 border: 2px solid var(--azulclaro);
		 padding: 8px;
		 border-radius: 10px;
		
	 }
	 .buttonlogin a{
		 color: var(--blanco);
		 text-decoration: none;
		 font-size: 12px;
		 font-weight: bold;
	  
	 }
	 .form-login{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
		background-color: var(--blanco);
		border-radius: 50px;
		box-shadow: 3px 3px 5px var(--negro);
	 }
	 .head{
		background-color: var(--azulcielo);
		padding: 50px 90px;
		text-align: center;
		border-radius: 50px 50px 0 0;
		position:relative;
		bottom: 20px;

	}

	 .form-group{
		 display: flex;
		 flex-direction: column;
		 text-align: center;
		 padding-bottom: 20px;
		 line-height: 2;
	 }
	 .form-group label{
		 font-size: 20px;
	 }
	 .form-group input{
		 border-radius: 20px;
		 border: 1px solid var(--azulclaro);
		 background-color:rgba(167, 217, 217, 0.3);
		 height: 45px;
		 width: 370px;
	 }
	 .link{
		 margin: 0;
		 font-size:15px ;
		 color: var(--negro);
		 position: relative;
		 bottom: 12px;
	 }
	 .btn-enviar{
		 border-radius: 10px;
		 background-color: var(--naranja);
		 color: var(--blanco);
		 padding: 8px 33px; 
		 border: 1px solid var(--negro);
	 }
	.butl{
		margin-bottom: 20px ;
		position: relative;
		left: 180px;
	}
	/*dashboard*/
	.main{
		display: flex;
		height: 100%;
		max-height: 618px;
	}
	.menudash{
		background-color: var(--morado);
		flex-basis: 20%;
		display: flex;
		flex-direction: column;
		justify-content:center ;
		height: 618px;
	}
	.logodash{
		width: 200px;
		margin: 20px;
		padding: 2px;
		margin-top: -100px;
	}
	.menuopc{
		margin-top: 50px;
	}
	.opciones{
		list-style: none;
    	display: flex;
    	flex-direction: column;  
		background-color: var(--plata);
		border: 1px solid var(--naranja);
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		height: 55px;
		margin: 10px 0;
	}
	.opciones a{
		color: var(--negro);
    	text-decoration: none;
	}
	.opciones img{
		width: 20px;
		margin: 10 auto;
		position: relative;
		left: 40px;
	}
	.opciones h4{
		margin: 0;
		padding: 0;
	}
	.cuerpodash{
		flex-basis: 80%;
		height: 600px;
		background-color: #f5f1f1ee;
	}
	.usuario{
		background: linear-gradient(60deg, #a59f9f, rgb(207, 202, 202) 50%, #b8b2b2);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 165px;
		height: 50px;
		padding: 5px;
		margin-left:900px;
		border-radius: 8px;
	}
	.usuario img{
		width: 27px;
		height: 30px;
		border-radius: 50%;
		background-color: var(--blanco);
		border: 1px solid var(--naranja);
		padding: 3px;
		margin-right: 3px;
	}
	.guerreros{
		float: right;
		padding-top: 1px;
		padding-right: 8px;
		opacity: 38%;
		height: 300px;

	}
	.cuerpo{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.cuerpo h1{
		color: var(--naranja);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position:relative;
		top: 50px;
	}
	.busqueda {

		position: relative;
		top: 120px;
	}
	.busqueda input{
		width: 315px;
		text-align: center;
		background-color: #f5f1f1ee;
		font-size: 17px;
		padding-right: 3px;
		border: none;
		border-bottom: 1px solid var(--morado);
	}
	.busqueda button{
		background-color: var(--morado);
		border: 3px solid var(--azulclaro);
		border-radius: 5px;
		padding: 0;
	}
	.busqueda i{
		width: 50px;
		color:var(--blanco);
		padding: 5px;
	}
	.franja1{
		width: 1100px;
		height: 100px;
		position: relative;
		top: 370px;
		margin-bottom: 0;
	}
	.franja1 img{
		flex-basis: 100%;
		max-width: 100%;
		max-height: 100%;

